{% extends 'navbar/navbar.html' %}
{% block content %} {% load static %}
<div class="row gx-5">
  <div class="container-sm loan-calcu ">
    <div class="container overflow-hidden"style="font-family:Verdana">
        <form method="post" action="">
          {% csrf_token %}
          <div class="row gx-5">
            <div class="col">
              <label for="sellingprice" class="form-label calcu-labels">Selling Price (PhP): </label>
              <input type="number" min="0" id="sellingprice" class="calcu-field p-1 border bg-light" name="sellingprice" step="0.000000000000000001" placeholder="0.00" class="form-control">
            </div>
          </div>
          <div class="row gx-5">
            <div class="col">
            </div>
          </div>
          <div class="row gx-5">
            <div class="col ">
              <label for="percentage">Percentage:  </label>
              <div class="calcu-left input-group mb-3">
                <input aria-describedby="basic-addon2" type="number" step="0.000000000000000001" min="0" max="100" class="calcu-field p-1 border bg-light" id="percentage" name="percentage" placeholder="0.00">
                <span class="input-group-text" id="basic-addon2"><p>%</p></span>
              </div>
            </div>
            <div class="col calcu-right">
              <label for="amount">Amount:  </label>
              <div class="calcu-right input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><p>PhP</p></span>
                <input aria-describedby="basic-addon1" type="number"  min="0" step="0.000000000000000001" class="calcu-field p-1 border bg-light" id="amount" name="amount" placeholder="0.00">
              </div>
            </div>
          </div>
          <div class="row gx-5">
            <p style="color: red; font-size: x-small;">Note that minimum of 20% down payment is required.</p>
          </div>
          <div class="row gx-5">
            <div class="col ">
              <label for="percentage">Months to pay:  </label>
              <div class="calcu-left calcu-field input-group mb-3">
                
                <select name="months" class="form-control" id="months">
                    {% for month in months %}
                    <option value="{{month.months}}">{{month.months}} Months</option>
                    {% endfor %}
                </select>
              </div>

              <div class="col calcu-right">
                <label for="downpayment">Downpayment:  </label>
                <div class="calcu-right input-group mb-3">
                  <input aria-describedby="basic-addon1" type="number"  min="0" step="0.000000000000000001" class="calcu-field p-1 border bg-light" id="downpayment" name="downpayment" placeholder="0.00">
                </div>
              </div>
            </div>
          </div>
          <div class="row gx-5">
            <div class="col ">
              <label for="unit">Preferred Type of Unit:  </label>
              <div class="calcu-left input-group mb-3">
                <input type="text"class="calcu-field p-1 border bg-light form-control" id="unit" name="unit">
              </div>
            </div>
          </div>
          <button id="submit_button" type="submit" class="btn btn-primary login-button"style="float: right;">Calculate</button>
        </form>
    </div>
  </div>
  
  <div class="container-sm loan-calcu-results ">
    <div class="container overflow-hidden"style="font-family:Verdana">
      <div class="row gx-5">
        <div class="col">
          
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}