{% extends 'bank_officer/navbar.html' %}
{% load static %}
{% block content %}

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2" style="color:#00573f">Dashboard</h1>
            
                    <p class="mb-4 text-gray-900">Hi, welcome back!</p>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Summary</h6>
                        </div>
                        <div class="card-body">
                            <!-- Content Row -->
                            <div class="row">
                                <!-- Card Example -->
                                <div class="col-xl-4 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        For Review</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{review}}</div>
                                                </div>
                                                <div class="col-auto" onclick="window.location='{% url 'review' %}'">
                                                    <a class="btn btn-primary btn-circle btn-lg" data-toggle="modal" data-target="#alabangIsolationModal">
                                                        <i class="fas fa-calendar"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Card Example -->
                                <div class="col-xl-4 col-md-6 mb-4">
                                    <div class="card border-left-success shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                        Approved Loans</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{approved}}</div>
                                                </div>
                                                <div class="col-auto" onclick="window.location='{% url 'approved' %}'">
                                                    <a class="btn btn-success btn-circle btn-lg" data-toggle="modal" data-target="#alabangHospitalModal">
                                                        <i class="fas fa-clipboard-list"></i>
                                                    </a>   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Card Example -->
                                <div class="col-xl-4 col-md-6 mb-4">
                                    <div class="card border-left-info shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Rejected Loans
                                                    </div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{rejected}}</div>
                                                </div>
                                                <div class="col-auto" onclick="window.location='{% url 'rejected' %}'">
                                                    <a class="btn btn-info btn-circle btn-lg" data-toggle="modal" data-target="#alabangFacilityModal">
                                                        <i class="fas fa-table"></i>
                                                    </a> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock content %}