{% extends 'navbar/navbar.html' %}
{% block content %} {% load static %}
<style>
    .btn{
        margin-top: 1%;
    }
</style>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
            <i class="fas fa-check-circle"></i>
            <div class="message">
            &nbsp;{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% elif message.tags == 'error' %}
        <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
            <i class="fas fa-times-circle"></i>
            <div class="message">
            &nbsp;{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>  
        {% endif %}
    {% endfor %}  
{% endif %}
<form action="" class="create-record-form" method="post">
    {% csrf_token %}
    {{loan_form.status}}

    {{loan_form.make}}
    {{loan_form.model}}
    {{loan_form.sell_price}}
    {{loan_form.dp_percent}}
    {{loan_form.dp_amt}}
    {{loan_form.loan_amt}}
    {{loan_form.no_of_payments}}

    {{loan_form.first_name}}
    {{loan_form.middle_name}}
    {{loan_form.last_name}}
    {{loan_form.birthdate}}
    {{loan_form.civ_status}}

    {{loan_form.unit_no}}
    {{loan_form.condo_name}}
    {{loan_form.street}}
    {{loan_form.subdiv_brgy}}
    {{loan_form.city}}
    {{loan_form.municip_prov}}
    {{loan_form.country}}
    {{loan_form.len_stay}}
    {{loan_form.len_stay_num}}
    {{loan_form.home_own}}

    {{loan_form.phone_type}}
    {{loan_form.home_num}}
    {{loan_form.email_add}}

    {{loan_form.prime_income}}

    {{loan_form.emp_type}}
    {{loan_form.emp_name}}
    {{loan_form.job_pos}}
    {{loan_form.emp_tenure}}
    {{loan_form.emp_tenure_num}}
    {{loan_form.emp_monthly_income}}
    {{loan_form.emp_work_no}}

    {{loan_form.bsns_type}}
    {{loan_form.bsns_name}}
    {{loan_form.bsns_tenure}}
    {{loan_form.bsns_tenure_num}}
    {{loan_form.bsns_monthly_income}}
    {{loan_form.bsns_work_no}}

    {{loan_form.bsns_unit_no}}
    {{loan_form.bsns_condo_name}}
    {{loan_form.bsns_street}}
    {{loan_form.bsns_subdiv_brgy}}
    {{loan_form.bsns_city}}
    {{loan_form.bsns_municip_prov}}
    {{loan_form.bsns_country}}


    <button type="submit" class="btn btn-success">Submit</button>
</form>
<script>
    $(function () {
        $("#datetimepicker").datetimepicker({
            format: 'MM/DD/YYYY',
        });
    });
</script>

{% endblock %}