{% extends 'navbar/navbar.html' %}
{% block content %} {% load static %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
            <i class="fas fa-check-circle"></i>
            <div class="message">
            &nbsp;{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% elif message.tags == 'error' %}
        <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
            <i class="fas fa-times-circle"></i>
            <div class="message">
            &nbsp;{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>  
        {% endif %}
    {% endfor %}  
{% endif %}
<form action="" class="create-record-form" method="post">
    {% csrf_token %}
    {{loan_form}}

    <button type="submit" class="btn btn-success">Submit</button>
</form>
<script>
    $(function () {
        $("#datetimepicker").datetimepicker({
            format: 'MM-DD-YYYY',
        });
    });
</script>

{% endblock %}