{% extends 'navbar/navbar.html' %}
{% block content %} {% load static %}
<div class="row gx-5">
  <div class="container-sm loan-calcu ">
    <div class="container overflow-hidden"style="font-family:Verdana">
        <form method="post" action="" >
          {% csrf_token %}
          {{form.user}}
          <div class="row gx-5">
            <div class="col ">
              <div>
                <label for="percentage">Prefix:  </label>
                {{form.prefix}}
              </div>
              <div>
                <label for="percentage">Last Name:  </label>
                {{form.last_name}}
              </div>
              <div>
                <label for="percentage">First name:  </label>
                {{form.first_name}}
              </div>
            </div>
          </div>
          <div class = "row gx-5">
            <div class = "col">
              <label for="percentage">Sex:  </label>
              {{ form.sex }}
            </div>
          </div>
          <div class = "row gx-5">
            <div class = "col">
              <label for="percentage">Date of birth:  </label>
              {{ form.birth_date }}
            </div>
          </div>
          <div class = "row gx-5">
            <div class = "col">
              <label for="percentage">Marital status:  </label>
              {{ form.marital_status }}
            </div>
          </div>
          <div class = "row gx-5">
            <div class = "col">
              <label for="percentage">Phone number:  </label>
              {{ form.phone }}
            </div>
          </div>
          <div class = "row gx-5">
            <div class = "col">
              <label for="percentage">Email:  </label>
              {{form.email}}
            </div>
          </div>
          <div class = "row gx-5">
            <div class = "col">
              <label for="percentage">Address:  </label>
              {{form.address}}
            </div>
          </div>
          <button id="submit_button" type="submit" class="btn btn-primary login-button"style="float: left;">Create Account</button>
        </form>
    </div>
  </div>
  
</div>

{% endblock %}