{% extends 'navbar/navbar.html' %}
{% block content %} {% load static %}

<h1 class="h3 mb-2" style="color:#00573f">Create Bank Account</h1>
<div class="card shadow mb-4">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          {{form.user}}

          <div class="card-body">
            <div class="row">
              <table class="table table-bordered">
                      <tr>
                        <td><label for="percentage">Last Name:  </label></td>
                        <td>{{form.last_name}}</td>
                        <td><label for="percentage">First name:  </label></td>
                        <td>{{form.first_name}}</td>
                        <td><label for="percentage">Sex:  </label></td>
                        <td>{{ form.sex }}</td>
                      </tr>
                      <tr>
                        <td><label for="percentage">Date of birth:  </label></td>
                        <td>{{ form.birth_date }}</td>
                        <td><label for="percentage">Marital status:  </label></td>
                        <td>{{ form.marital_status }}</td>
                        <td><label for="percentage">Phone number:  </label></td>
                        <td>{{ form.phone }}</td>
                        <td><label for="percentage">Email:  </label></td>
                        <td>{{form.email}}</td>
                      </tr>
                      <tr>
                      <td><label for="percentage">Address:  </label></td>
                      <td>{{form.address}}</td>
                      </tr>
              </table>
                      <button id="submit_button" type="submit" class="btn btn-primary login-button"style="float: left;">Create Account</button>
          </div>
          </div>
      </form>
    </div>


{% endblock %}