{% extends 'navbar/navbar.html' %}
{% block content %} {% load static %}
<div class="row gx-5">
    <div class="container-sm loan-calcu ">
      <h1 class="h3 mb-2" style="color:#00573f">Deposit Money</h1>
      <div class="container overflow-hidden"style="font-family:Verdana">
          <form method="post" action="" >
            {% csrf_token %}
            <div class="row gx-5">
              <div class="col ">
                <label for="percentage">Deposit amount:  </label>
                {{form.deposit}}
              </div>
            </div>
            <br>
            <button id="submit_button" type="submit" class="btn btn-primary login-button"style="float: right;">DEPOSIT MONEY</button>
          </form>
      </div>
    </div>
    
</div>

{% endblock %}